.contenedor{
  background-color:#CCC;
  width:100%;
  height:80%;
  
}
.buscadores{
  height:20%;
  width:45%;
  float:left;
  margin: 1%;
  display: flex;
  justify-content: center;
}

.tarjetas{
  width:40%;
  float:left;
  margin: 1%;
  display: flex;
  justify-content: center;
}

.botonPelear{
  height: 40%;
  width:10%;
  float:left;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.inicio{
  width:95%;
  margin: 1%;
  display: flex;
  justify-content: center;
}