body{
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/6.png");
  background-repeat: no-repeat;
}

.inicio{
  width:100%;
  margin: 3%;
  display: flex;
  justify-content: center;
}
